{% extends "base.html" %}

{% block content %}
    <form enctype="multipart/form-data" method="POST" action="/add_product">
        <div class="preprofile" style="margin: 0px 10px;">
            <a class="bottom_total" href="javascript:history.back()">
                Назад
            </a>
            <br>
        </div>
        <div class="container" style="color: rgba(0, 0, 0, 0.55);">
            <h1>Добавить товар</h1><br>
            {% if message %}
                <small style="color: rgba(34, 34, 34, .2)">{{ message }}</small>
                <br>
            {% endif %}
            <hr>
            <br>
            <label for="name"><b>Название товара</b></label>
            <input class="inpt" type="text" placeholder="Название товара" name="name" required>

            <label for="short_description"><b>Краткое описание</b></label>
            <input class="inpt" type="text" placeholder="Краткое описание" name="short_description" required>

            <label for="description"><b>Описание</b></label>
            <input class="inpt" type="text" placeholder="Описание" name="description" required>

            <label for="price"><b>Цена</b></label>
            <input class="inpt" type="text" placeholder="Цена" name="price" required>

            <label for="category"><b>Категория</b></label>
            <select class="inpt" name="category" required>
                <option disabled>Категория</option>
                {% for ct in category %}
                    <option value="{{ ct.id }}">{{ ct.name }}</option>
                {% endfor %}
            </select><br>
            <label for="photo"><b>Загрузите изображение</b></label>
            <input class="inpt" type="file" name="photo" accept="static/*,image/jpeg" required>

            <label for="brand"><b>Бренд</b></label>
            <select class="inpt" name="brand" required>
                <option disabled>Бренд</option>
                {% for br in brand %}
                    <option value="{{ br.id }}">{{ br.name }}</option>
                {% endfor %}
            </select><br>


            <label for="country"><b>Страна</b></label>
            <select class="inpt" name="country" required>
                <option disabled>Страна</option>
                {% for cr in country %}
                    <option value="{{ cr.id }}">{{ cr.name }}</option>
                {% endfor %}
            </select><br>


            <label for="weight"><b>Вес (мл.)</b></label>
            <input class="inpt" type="text" name="weight" placeholder="Вес" required>

            <label for="composition"><b>Состав</b></label>
            <input class="inpt" type="text" name="composition" placeholder="Состав" required>

            <label for="quantity"><b>Количество товара</b></label>
            <input class="inpt" type="number" name="quantity" placeholder="Количество" min="1" required>

            <button type="submit" class="bottom_total">Сохранить</button>
        </div>
    </form>
{% endblock %}