<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Platinum Pear</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
<section class="hero is-primary is-fullheight">
    <nav class="top-menu" style="background-color: #D3D3D3;">
        <ul class="menu-main">
            <li class="left-item"><a href="{{ url_for('index') }}">
                Platinum Pear
            </a></li>
            <li class="left-item"><a href="{{ url_for('shopping_cart') }}">
                Корзина
            </a></li>
            <li class="left-item"><a href="{{ url_for('favorites') }}">
                Избранное
            </a></li>
            {% if user %}
                <li class="right-item"><a href="{{ url_for('signup') }}">
                    Регистрация
                </a></li>
                <li class="right-item"><a href="{{ url_for('login') }}">
                    Вход
                </a></li>
            {% else %}
                <li class="right-item"><a href="{{ url_for('logout') }}">
                    Выход
                </a></li>
                <li class="right-item"><a href="{{ url_for('profile') }}">
                    Профиль
                </a></li>
            {% endif %}
            {% if indexx %}
                <form class="right-item" action="" method="post">
                    <input value="{{ search | default(default_value = '', boolean = False) }}"
                           class="right-item" name="search" type="text"
                           placeholder="Поиск..." aria-label="Search">
                    <button class="right-item" type="submit"></button>
                </form>
            {% endif %}
        </ul>
        <a class="navbar-logo" href="{{ url_for('index') }}"><img src="/static/logo.png"
                                                                  style="height:100%; width:auto;"></a>
    </nav>
    <div class="help">
        <p>__________________</p>
    </div>
    {% block content %}
    {% endblock %}
</section>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
    </div>
    <ul class="menu-footer">
        <li><a href="{{ url_for('index') }}">Platinum Pear</a></li>
        <li><a href="{{ url_for('shopping_cart') }}">Корзина</a></li>
        <li><a href="{{ url_for('favorites') }}">Избранное</a></li>
    </ul>
    <p>©2022 Semester project | Talova Olesya</p>
</footer>
</body>

</html>