{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <div class="box">
            <form method="POST" action="/edit_profile">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" value="{{ user_data.name }}" type="text" name="name"
                               placeholder="Name" autofocus="">
                    </div>
                </div>
                <select class="input is-large" name="gender" required>
                    <option disabled>Пол</option>
                    {% if gender %}
                    <option value="Женский">Женский</option>
                    <option value="Мужской">Мужской</option>
                    {% else %}
                    <option value="Мужской">Мужской</option>
                    <option value="Женский">Женский</option>
                    {% endif %}
                </select>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" value="{{ user_data.email }}" type="email" name="email"
                               placeholder="Email" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" value="" type="password" name="password" placeholder="Password">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Сохранить</button>
                <br>
                {% if message %}
                    <small>{{ message }}</small>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}