{% extends "base.html" %}

{% block content %}
    <div class="advert">
        <h1 class="adv_text">Попробуйте новинку!<i class="fa fa-arrow-right" aria-hidden="true"></i></h1>
        <div class="adv_card">
            <div style="height: 15%; width: 22%;">
                <div class="product-wrap">
                    <div class="product-item">
                        <img src="static/{{ day_product.image }}"
                             width="100%" height="auto" style="border-radius: 5px">
                        <div class="product-buttons">
                            {% if not orders_exist %}
                                {% if day_product.id not in exist.shopping_cart %}
                                    <a href="{{ url_for('add_to_shopping_cart', product_id=day_product.id, site=site) }}"
                                       class="button">В корзину</a>
                                {% else %}
                                    <a href="{{ url_for('delete_from_shopping_cart', product_id=day_product.id, site=site) }}"
                                       class="button">Убрать</a>
                                {% endif %}
                                {% if day_product.id not in exist.favorites %}
                                    <a href="{{ url_for('add_to_favorites', product_id=day_product.id, site=site) }}"
                                       class="button_wishlist"><img src="/static/like_before.png"
                                                                    style="height:100%; width:auto;"></a>
                                {% else %}
                                    <a href="{{ url_for('delete_from_favorites', product_id=day_product.id, site=site) }}"
                                       class="button_wishlist"><img src="/static/like_after.png"
                                                                    style="height:100%; width:auto;"></a>
                                {% endif %}
                                </div>
                                </div>
                                <div class="product-title">
                                    <a href="{{ url_for("get_product", product_id=day_product.id) }}">{{ day_product.name }}</a>
                                    <span class="product-price">₽ {{ day_product.price }}</span>
                                </div>
                                </div>
                            {% endif %}
            </div>
        </div>
    </div>
    <form method="post">
        <select class="box" name="category">
            <option disabled>Категория</option>
            {% if not category_selected %}
                <option value="0" selected="selected">Не выбрано</option>
            {% else %}
                <option value="0">Не выбрано</option>
            {% endif %}
            {% for category in categories %}
                {% if category_selected == category.id %}
                    <option value="{{ category.id }}" selected="selected">{{ category.name }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button class="select_button">Выбрать</button>
    </form>
    {% include "product_short_view.html" %}
{% endblock %}

