{% extends "base.html" %}

{% block content %}
    <form method="post">
        <select class="box" name="category">
            <option disabled>Категория</option>
        {% if not category_selected %}
            <option value="0" selected="selected">Не выбрано</option>
        {% else %}
        <option value="0">Не выбрано</option>
        {% endif %}
            {% for category in categories %}
                {% if category_selected == category.id %}
                <option value="{{ category.id }}" selected="selected">{{ category.name }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button class="select_button">Выбрать</button>
    </form>
    {% include "product_short_view.html" %}
{% endblock %}

