{% extends "base.html" %}
{% block content %}
    <form method="POST" class="container" style="color: rgba(0, 0, 0, 0.55);">
        <h1>{{ title }}</h1><br>
        <hr>
        <br>
        <label for="email"><b>Email</b></label>
        <input class="inpt" type="email" placeholder="Email" name="email" required>
        <label for="password"><b>Пароль</b></label>
        <input class="inpt" type="password" placeholder="Введите пароль" name="password" required>
        <button type="submit" class="bottom_total" style="width: 70%; padding: 10px;">Войти</button>
        <br>
        {% if message %}
            <small style="color: rgba(34, 34, 34, .2)">{{ message }}</small>
        {% endif %}
    </form>
    <br>
{% endblock %}