{% extends "base.html" %}

{% block content %}
    {% if message %}
        <small>{{ message }}</small>
    {% endif %}
    {# переменные из контекста используем с двойными фигурными скобками #}
    <h2>{{ product.short_description }}</h2>
    <h1>{{ title }}</h1>
    <div>
    <p>{{ product.weight }} мл.</p>
    <h3>Описание</h3>
        <p>{{ product.description }}</p>
        <p>Цена: {{ product.price }}</p>
        <br>
        <br>
        <h3>Состав</h3>
        <p>{{ product.composition }}</p>
        <p>Количество в наличии: {{ product.quantity }}</p>

    <p>------------</p>
    <p>Категория______{{ category.name }}</p>
    <p>Страна______{{ country.name }}</p>
    <p>Бренд______{{ brand.name }}</p>
    </div>
    {% if admin %}
                <a href="{{ url_for('edit_product', product_id=product.id) }}"
                           class="navbar-item">Редактировать</a>
            {% endif %}
    <a href="javascript:history.back()", class="navbar-item">Назад</a>
{% endblock %}