{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        Welcome, {{ user_mail.name }}!
        <div>
            <h3>Имя: {{ user_mail.name }}</h3>
            <h3>Email: {{ user_mail.email }}</h3>
            <h3>Пол: {{ user_mail.gender }}</h3><br>

            <a href="{{ url_for('edit_profile') }}" class="navbar-item">
                Изменить
            </a>
            {% if message %}
                <small>{{ message }}</small>
            {% endif %}
        </div>
    </h1>
{% endblock %}